set_io clk P7
set_io rst P8

set_io led0 J11
set_io led1 K11
set_io led2 K12
set_io led3 K14
set_io led4 L12
set_io led5 L14
set_io led6 M12
set_io led7 N14

set_io usb_rx P14 # tx in the schematic
set_io usb_tx M9  # rx in the schematic
